// Fonts

// Sizes
$s__navbar-height: 54px;
$s__max-width: 1280px;
$s__breakpoint--laptop: 1600px;
$s__breakpoint--tablet--landscape: 1024px;
$s__breakpoint--tablet--portrait: 865px;
$s__breakpoint--mobile: 660px;
$s__breakpoint--small: 950px;

$spacing--large: 50px;
$spacing--medium: 30px;
$spacing--small: 10px;

// Colors
$black: #444444;
$gray: #999999;
$gray--light: #aaaaaa;

$jade: #6da67a;

$gray: #D8D8D8;
$white: #ffffff;
